.events-header {
    display:flex;
    flex-direction: column;
    padding-left: 12%;
    padding-right: 12%;
    background-image: url('../images/gradient_white.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.events-section {
    background-image: url("../images/TM background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 3vh 12%;
}

.events-listing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.events-section > h2 {
    color: white;
    font-size: 26px;
    padding-left: 10%;
}

.event-detail-event-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fefefe;
    margin-top: 15px;
    border-radius: 20px;
    box-shadow: 0 5px 10px -2px rgba(0,0,0,0.5);
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
}

.event-detail-left {
    display: flex;
    align-items: center;
}

.event-detail-event-card img {
    width: 65px;
    height: auto;
    margin-left: 1%;
    margin-right: 3%;
    border-radius: 0.5vw;
}

.event-detail-left h3, h2, h1 {
    margin: 0;
}

.event-detail-left > section:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.vertical-delimiter {
    border-left: 1px solid #000;
    height: 60px;
    margin: 0 20px;
}

.event-detail-button {
    align-items: center;
    margin-right: 2%;
}

.event-detail-left h3 {
    font-size: 16px;
    color: #2D033C;
}

.event-detail-left h2 {
    font-size: 14px;
    color: #666666;
}

.event-detail-left h1 {
    font-size: 26px;
    color: #2D033C;
}

.event-detail-datetime {
    margin-left: 10%;
}

.event-detail-venue h1 {
    white-space: nowrap;
}

.events-header h1 {
    padding-top: 2vh;
    padding-left: 10%;
    font-size: 40px;
}

.events-search {
    width: 100%;
    border-radius: 15px;
    border-width: 0;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: left;
    padding-left: 10%;
}

.events-search-bar {
    margin-top: 20px;
    border-radius: 15px;
    border-width: 0;
    width: 75%;
    height: 50px;
    padding: 5px 5px 5px 30px;
    line-height: 50px;
    font-size: 20px;
    text-align: left;
}

.events-search input {
    box-shadow: 0 6px 6px -2px rgba(0,0,0,0.3);
}

.below-search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 78%;
    padding-left: 10%;
    margin-top: 6vh;
    margin-bottom: 3vh;
}

.filters-chosen,
.filters-dropdown {
    display: flex;
    align-items: center;
}

.transparent-button,
.more-filters {
    margin: 12px;
}

.transparent-button {
    border: 1px solid #2D033C;
    background-color: transparent;
    border-radius: 8px;
    padding: 8px 12px;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    margin: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.filters-dropdown {
    text-decoration: underline;
}

.filters {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    padding-left: 11%;
    margin-bottom: 4vh;
}

.filters-left {
    display: flex;
    flex-direction: row;
}


.sliders {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.sliders label {
    display: block;
    margin-bottom: 5px;
}


.order-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    align-items: center;
}

.filter-button {
    color: #2D033C;
    font-family: "Readex Pro", sans-serif;
    font-weight: 800;
    cursor: pointer;
    background: #FEFEFE;
    border: 1px solid #2D033C;
    padding: 6px 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    width: 100%;
    margin: 1px 10px;
}


.genre-picker {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-left: 20px;
}

.genre-picker button {
    width: 100%;
}

.fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    color: #2D033C;
    border: 2px solid #2D033C;
    padding: 15px 15px 15px 17px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    text-decoration: none;
    font-size: 20px;
}

.cart-count {
    position: absolute;
    top: -8px;
    right: -2px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-shopping-cart {
    margin-right: 5px;
}

.heading-section {
    display:flex;
    flex-direction: column;
    padding-left: 12%;
    padding-right: 12%;
    background-image: url('../images/gradient_white.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.heading-section h1 {
    font-size: 36px;
    padding-top: 4vh;
    padding-bottom: 4vh;
}