.events-header {
    display:flex;
    flex-direction: column;
    padding-left: 12%;
    padding-right: 12%;
    background-image: url('../images/gradient_white.svg'); /* Path to your SVG file */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.events-section {
    background-image: url("../images/TM background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 3vh 12%;
}

.events-listing {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.events-section > h2 {
    color: white;
    font-size: 26px;
    padding-left: 10%;
}

.event-detail-event-card {
    display: flex;
    justify-content: space-between; /* Places children at opposite ends */
    align-items: center;
    background: #fefefe;
    margin-top: 15px;
    border-radius: 20px;
    box-shadow: 0 5px 10px -2px rgba(0,0,0,0.5); /* Optional: Adds subtle shadow     for depth */
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
}

.event-detail-left {
    display: flex;
    align-items: center; /* Aligns children vertically */
}

.event-detail-event-card img {
    width: 65px;
    height: auto;
    margin-left: 1%;
    margin-right: 3%;
    border-radius: 0.5vw;
}

.event-detail-left h3, h2, h1 {
    margin: 0;
}

.event-detail-left > section:first-child {
    display: flex;
    flex-direction: column; /* Stacks time/date in a column */
    align-items: center; /* Centers time/date */
}

/* Styling for the vertical delimiter */
.vertical-delimiter {
    border-left: 1px solid #000; /* Example: solid black line */
    height: 60px; /* Adjust as needed */
    margin: 0 20px; /* Spacing around the delimiter */
}

.event-detail-button {
    align-items: center;
    margin-right: 2%;
}

.event-detail-left h3 {
    font-size: 16px;
    color: #2D033C;
}

.event-detail-left h2 {
    font-size: 14px;
    color: #666666;
}

.event-detail-left h1 {
    font-size: 26px;
    color: #2D033C;
}

.event-detail-datetime {
    margin-left: 10%;
}

.event-detail-venue h1 {
    white-space: nowrap;
}

.events-header h1 {
    padding-top: 2vh;
    padding-left: 10%;
    font-size: 40px;
}

.events-search {
    width: 100%;
    border-radius: 15px;
    border-width: 0;
    height: 50px;
    line-height: 50px; /* Same as the height for vertical centering */
    font-size: 20px;
    text-align: left; /* For horizontal centering */
    padding-left: 10%;
}

.events-search-bar {
    margin-top: 20px;
    border-radius: 15px;
    border-width: 0;
    width: 75%;
    height: 50px;
    padding: 5px 5px 5px 30px; /* Adjust left padding if needed */
    line-height: 50px; /* Same as the height for vertical centering */
    font-size: 20px;
    text-align: left; /* For horizontal centering */
}

.events-search input {
    box-shadow: 0 6px 6px -2px rgba(0,0,0,0.3); /* Optional: Adds subtle shadow for depth */
}

.below-search-bar {
    display: flex; /* This makes it a flex container */
    justify-content: space-between; /* This spreads out the children (left and right) */
    align-items: center; /* This vertically centers the children */
    width: 78%;
    padding-left: 10%;
    margin-top: 6vh;
    margin-bottom: 3vh;
}

.filters-chosen,
.filters-dropdown {
    display: flex; /* This makes them flex containers too */
    align-items: center; /* This vertically centers their children */
}

.transparent-button,
.more-filters {
    margin: 12px; /* Add margin for spacing between buttons if needed */
}

.transparent-button {
    border: 1px solid #2D033C; /* Solid border with 1px thickness */
    background-color: transparent; /* Transparent background */
    border-radius: 8px; /* Rounded corners */
    padding: 8px 12px; /* Top-bottom and left-right padding */
    text-align: center; /* Center the text inside */
    font-size: 1rem; /* Set the font size */
    font-weight: 500;
    margin: 5px; /* Add some margin around buttons */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

.filters-dropdown {
    text-decoration: underline;
}

.filters {
    display: none; /* Hide filters by default */
    justify-content: space-between;
    align-items: center;
    width: 75%;
    padding-left: 11%;
    margin-bottom: 4vh;
}

.filters-left {
    display: flex;
    flex-direction: row;
}

/* First Column: Sliders */
.sliders {
    display: flex;
    flex-direction: column; /* Stack sliders vertically */
    margin-right: 20px; /* Add some space between the columns */
}

.sliders label {
    display: block; /* Ensures label is above the slider */
    margin-bottom: 5px; /* Space between label and slider */
}

/* Second Column: Order Buttons */
.order-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-gap: 10px; /* Space between buttons */
    align-items: center; /* Align items vertically */
}

.filter-button {
    color: #2D033C; /* Set text color to white */
    font-family: "Readex Pro", sans-serif;
    font-weight: 800;
    cursor: pointer;
    background: #FEFEFE;
    border: 1px solid #2D033C;
    padding: 6px 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    width: 100%;
    margin: 1px 10px;
}

/* Third Column: Genre Picker */
.genre-picker {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns for genres */
    grid-gap: 10px; /* Space between genre buttons */
    margin-left: 20px; /* Add some space between the columns */
}

.genre-picker button {
    width: 100%; /* Full width of the column */
}

.fab {
    position: fixed; /* Fixed position */
    bottom: 20px; /* 20px from the bottom */
    right: 20px; /* 20px from the right */
    background-color: white; /* Blue background */
    color: #2D033C; /* White text and icon */
    border: 2px solid #2D033C;
    padding: 15px 15px 15px 17px;
    border-radius: 50%; /* Circular shape */
    text-align: center; /* Center the content */
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3); /* A little shadow for better visibility */
    text-decoration: none; /* Remove underline from link */
    font-size: 20px; /* Icon size */
}

.cart-count {
    position: absolute;
    top: -8px;
    right: -2px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-shopping-cart {
    margin-right: 5px; /* Space between icon and number */
}

.heading-section {
    display:flex;
    flex-direction: column;
    padding-left: 12%;
    padding-right: 12%;
    background-image: url('../images/gradient_white.svg'); /* Path to your SVG file */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.heading-section h1 {
    font-size: 36px;
    padding-top: 4vh;
    padding-bottom: 4vh;
}