.events-header {
    display:flex;
    padding-left: 12%;
    padding-right: 12%;
    background-image: url('../images/gradient_white.svg'); /* Path to your SVG file */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.events-section {
    background-image: url("../images/TM background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 3vh 12%;
}

.events-listing {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.events-section > h2 {
    color: white;
    font-size: 26px;
    padding-left: 10%;
}

.event-detail-event-card {
    display: flex;
    justify-content: space-between; /* Places children at opposite ends */
    align-items: center;
    background: #fefefe;
    margin-top: 15px;
    border-radius: 20px;
    box-shadow: 0 5px 10px -2px rgba(0,0,0,0.5); /* Optional: Adds subtle shadow     for depth */
    padding-top: 12px;
    padding-bottom: 12px;
    width: 80%;
}

.event-detail-left {
    display: flex;
    align-items: center; /* Aligns children vertically */
}

.event-detail-event-card img {
    width: 65px;
    height: auto;
    margin-left: 1%;
    margin-right: 3%;
    border-radius: 0.5vw;
}

.event-detail-left h3, h2, h1 {
    margin: 0;
}

.event-detail-left > section:first-child {
    display: flex;
    flex-direction: column; /* Stacks time/date in a column */
    align-items: center; /* Centers time/date */
}

/* Styling for the vertical delimiter */
.vertical-delimiter {
    border-left: 1px solid #000; /* Example: solid black line */
    height: 60px; /* Adjust as needed */
    margin: 0 20px; /* Spacing around the delimiter */
}

.event-detail-button {
    align-items: center;
    margin-right: 2%;
}

.event-detail-left h3 {
    font-size: 16px;
    color: #2D033C;
}

.event-detail-left h2 {
    font-size: 14px;
    color: #666666;
}

.event-detail-left h1 {
    font-size: 26px;
    color: #2D033C;
}

.event-detail-datetime {
    margin-left: 10%;
}

.event-detail-venue h1 {
    white-space: nowrap;
}