@media only screen and (max-width: 900px) {
    .homepage-banner img{
        width: 100%;
        height: 100%;
        padding: 0 0;
        border-radius: 0;
    }

    .homepage-search{
        width: 90%;
    }

    .popular-tours {
        padding: 5%;
    }

    .tour-card {
        width: 100%;
        margin: 10px;
        background: white;
        border-radius: 15px;
        box-shadow: 0 10px 10px -2px rgba(0,0,0,0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tour-card-image {
        width: 90%;
        padding-right: 5%;
        padding-left: 5%;
        padding-top: 5%;
        border-radius: 8%;
        overflow: hidden;
    }

    .tour-card-btn {
        width: 100%;
    }

    .image-row {
        flex-direction: column;
    }

    .lightblue-card.login-form {
        width: 80%;
    }

    .login-heading {
        width: 150px;
        margin-left: auto;
        margin-right: auto;
    }

    .popular-tour-left p {
        display: none;
    }

    .lightblue-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile-content, .profile-actions {
        display: flex;
        flex-direction: column !important;
        align-items: center;
        width: 100%;
    }

    .profile-actions button {
        width: 80% !important;
    }

    .profile-info {
        margin: 0;
        text-align: center;
    }

    .lightblue-card {
        width: 90%;
        margin: 20px;
        padding: 10px;
    }

    .below-search-bar, .filters, .filters-chosen, .event-detail-event-card, .event-detail-left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .event-detail-venue{
        text-align: center !important;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .ticket-details {
        text-align: left !important;
    }

    .tour-detail-datetime {
        margin-left: 0;
    }

    .event-detail-event-card img {
        width: 50% !important;
    }

    .vertical-delimiter {
        display: none;
    }

    .events-search-bar::placeholder {
        font-size: 80%;
    }

    .event-bar, .event-controls {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .stadium-layout {
        width: 100% !important;
    }

    .above-event-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .event-date-time {
        margin-right: 0 !important;
    }

    .event-detail-event-card {
        text-align: center;
    }

    .tour-detail-header {
        margin-right: 5%;
        margin-left: 5%;
    }

    .tour-detail-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tour-detail-description{
        margin-top: 10%;
    }

    .tour-detail-event-card, .tour-detail-left, .checkout-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .input-fields {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .form-content {
        display: grid;
        grid-template-columns: none !important;
        margin-left: 10%;
        margin-right: 10%;
    }

    .event-action-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-right: 10%;
        margin-left: 10%;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    .col1, .col2, .col3 {
        width: 100%;
    }
}

@media only screen and (max-width: 1300px) {
    .popular-tour-card {
        flex-direction: column;
    }

    .popular-tour-left {
        margin-right: 0;
        margin-bottom: 20px;
        padding-left: 0;
    }

    .popular-tour-card img{
        width: 100% !important;
    }

    .popular-tour-card {
        flex-direction: column;
        align-items: center;
    }

    .popular-tour-left {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 15px;
    }

    .popular-tour-left > img {
        margin-top: 20px;
        width: 60%;
        height: auto;
    }

    .popular-tour-card-description {
        width: 80%;
        margin-top: 20px;
        text-align: center;
    }

    .popular-tour-card-description p {
        max-width: 100%;
        text-align: justify;
    }

    .popular-tour-card-buttons {
        width: 80%;
        margin: 20px auto;
    }
}
