body {
    font-family: "Readex Pro", sans-serif;
    margin: 0;
    background-color: #fefefe;
}

.homepage-banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage-banner img {
    width: 60%;
    padding: 15px 20px;
    object-fit: cover;
    border-radius: 3vw;
}

.homepage-banner img:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/TM background.svg");
    background-size: cover;
    color: #FEFEFE;
    width: 100%;
    margin: 0 auto;
}

.popular h1 {
    margin-top: 50px;
    margin-bottom: 20px;
    display: block;
    font-size: 40px;
}

.homepage-search {
    margin-top: 20px;
    border-radius: 15px;
    border-width: 0;
    width: 70%;
    height: 50px;
    padding: 5px 5px 5px 20px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
}

.homepage-search input {
    box-shadow: 0 6px 6px -2px rgba(0,0,0,0.3);
}


.tours-container {
    margin-top: 0;
    margin-bottom: 50px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;

}

.tour-card {
    margin: 10px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 10px -2px rgba(0,0,0,0.5);
}

.tour-card:hover {
    background: #FEFEFE;
    transform: scale(1.03);
    transition: transform 0.2s ease-in-out;
}

.tour-card h2 {
    color: #666666;
    padding-left: 12px;
    font-size: 14px;
    margin: 0;
}

.tour-card h1 {
    color: #2D033C;
    padding-left: 12px;
    font-size: 20px;
    margin: 5px 0;
}

.tour-card-btn {
    color: #FFFFFF;
    font-family: "Readex Pro", sans-serif;
    font-weight: 800;
    cursor: pointer;
    background-image: linear-gradient(135deg, #8050C2, #2D033C);
    border: none;
    padding: 12px 20px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background-color 0.3s ease;
    width: 90%;
    margin: 10px 10px;
}

.tour-card-btn i {
    margin-right: 5px;
}

.tour-card-btn:hover {
    background-image: linear-gradient(135deg, #2f105b, #030003);
}

.tour-card-image {
    width: 180px;
    padding: 12px 12px;
    border-radius: 8%;
}

.genres {
    display: block;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 40px;
}

.genres h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    font-size: 40px;
    color: #2D033C;
}

.dark {

}

.image-row {
    display: flex;
    justify-content: center;
}

.image-container {
    position: relative;
    margin: 10px;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 5px 10px -2px rgba(0,0,0,0.5);
}

.image-container:hover {
    transform: scale(1.03);
}

.overlay-text {
    position: absolute;
    font-family: "Readex Pro", sans-serif;
    font-weight: 600;
    bottom: 15px;
    left: 15px;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 30px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 3% 12%;
    background-color: #2D033C;
    color: #FEFEFE;
    bottom: 0px;
}

footer .logo {
    width: 200px;
    height: auto;
}

footer section {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

footer section h3 {
    margin-bottom: 10px;
}

footer section a {
    text-decoration: none;
    color: #FEFEFE;
    margin-bottom: 5px;
}

footer .col2 {
    display: flex;
}

.footer-column {
    display: flex;
    flex-direction: row;
}

footer .col2 > section {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

footer .col3 {
    display: flex;
    justify-content: space-between;
}

.social-icons {
    font-size: 30px;
}

footer a:hover {
    color: #BBBBBB;
    text-decoration: underline;
}

.card-heading {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-heading h1 {
    font-size: 36px;
}

.popular-tour-card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 65%;
    border-radius: 10px;
    background-image: url('../images/gradient_white.svg');

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    border: 1px solid #2D033C;
    box-shadow: 0 5px 10px -2px rgba(0,0,0,0.5);
    margin-bottom: 30px;
}

.popular-tour-card-description {
    max-width: 100%;
}

.popular-tour-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0;
    max-width: 60%;
}

.popular-tour-left > h1,
.popular-tour-left > img,
.popular-tour-left > .popular-tour-card-description,
.popular-tour-card-buttons {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.popular-tour-left > img {
    width: 180px;
    height: auto;
    padding: 10px;
    border-radius: 1vw;
    margin-left: 6%;
    margin-right: 6%;
}

.popular-tour-left h1 {
    font-size: 30px;
    color: #2D033C;
}

.popular-tour-card h2 {
    font-size: 16px;
    color: #666666;
}


.popular-tour-card-description h2,
.popular-tour-card-description h1,
.popular-tour-card-description p,
.popular-tour-card-buttons h2 {
    margin: 0;
}

.popular-tour-card-buttons {
    margin-right: 4%;
    justify-content: center;
    align-items: center;
}

.popular-tour-card-description p {
    max-width: 45%;
    text-align: justify;
    margin: 6px 0 0 0;
    line-height: 1.2;
    font-size: 12px;
    word-wrap: break-word;
}

.dark-button {
    color: #FFFFFF;
    font-family: "Readex Pro", sans-serif;
    font-weight: 800;
    cursor: pointer;
    background-image: linear-gradient(135deg, #8050C2, #2D033C);
    border: none;
    padding: 12px 20px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background-color 0.3s ease;
    width: 90%;
    margin: 4px 18px;
}

.dark-button i {
    margin-right: 5px;
}

.dark-button:hover {
    background-image: linear-gradient(135deg, #2f105b, #030003);
}

.light-button {
    color: #2D033C;
    font-family: "Readex Pro", sans-serif;
    font-weight: 800;
    cursor: pointer;
    background: #FEFEFE;
    border: 1px solid #2D033C;
    padding: 12px 20px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background-color 0.3s ease;
    width: 90%;
    margin: 4px 18px;
}

.light-button i {
    margin-right: 5px;
}

.light-button:hover {
    background-image: linear-gradient(135deg, #2f105b, #030003);
    color: #FEFEFE;
}

.lightblue-card {
    width: 65%;
    border-radius: 10px;
    background-image: url('../images/gradient_white.svg');

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    border: 1px solid #2D033C;
    box-shadow: 0 5px 10px -2px rgba(0,0,0,0.5);
    margin-bottom: 30px;
    margin-top: 30px;
}

.tour-detail-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tour-detail-header img {
    width: 280px;
    height: auto;
    border-radius: 1.5vw;
}

.tour-detail-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tour-detail-description {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 5%;
}

.tour-detail-description h1, h2 {
    margin: 0;
}

.tour-detail-card {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.tour-detail-description h1 {
    font-size: 56px;
    color: #2D033C;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tour-detail-description h2 {
    font-size: 16px;
    color: #666666;
}

.tour-detail-description p {
    text-align: justify;
    margin: 6px 0 0 0;
    line-height: 1.2;
    font-size: 18px;
}

.tour-detail-event-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fefefe;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 0 5px 10px -2px rgba(0,0,0,0.5);
    padding-top: 12px;
    padding-bottom: 12px;
}

.tour-detail-left {
    display: flex;
    align-items: center;
}

.tour-detail-left h3, h2, h1 {
    margin: 0;
}

.tour-detail-left > section:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.vertical-delimiter {
    border-left: 1px solid #000;
    height: 60px;
    margin: 0 20px;
}

.tour-detail-button {
    align-items: center;
    margin-right: 2%;
}

.tour-detail-left h3 {
    font-size: 16px;
    color: #2D033C;
}

.tour-detail-left h2 {
    font-size: 14px;
    color: #666666;
}

.tour-detail-left h1 {
    font-size: 26px;
    color: #2D033C;
}

.tour-detail-datetime {
    margin-left: 5%;
}

.tour-detail-venue h1 {
    white-space: nowrap;
}

.terms-container {
    background-image: url("../images/TM_background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color:#fefefe;
}

.terms-text {
    width: 60%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin:20px auto 0;
}

.terms-header {
    margin-left: 15%;
    font-size: 35px;
    color: #2D033C;
    margin-top: 25px;
    margin-bottom: 25px;
}

.lightblue-card.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #f0faff;
    margin: auto;
    width: 35%;
    text-align: center;
}

.lightblue-card.login-form input[type="text"],
.lightblue-card.login-form input[type="password"] {
    width: 50%;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 12px;
    border: 1px solid #999999;
    box-shadow: 0 3px 3px -2px rgba(0,0,0,0.5);
}

#recover-email-form {
    width: 100%;
}

.recover-form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.lightblue-card.login-form button.dark-button {
    width: 30%;
    margin: 0 auto;
}

.lightblue-card.login-form button.send-mail-button {
    width: 100%;
}

.lightblue-card.login-form p span {
    display: inline;
}

.lightblue-card.login-form a {
    color: #2D033C;
}

.login-heading {
    margin-left: 20%;
}