body {
    font-family: "Readex Pro", sans-serif;
    margin: 0;
    background-color: #fefefe;
}

.homepage-banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage-banner img {
    width: 60%;
    padding: 15px 20px;
    object-fit: cover;
    border-radius: 3vw;
}

.homepage-banner img:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/TM background.svg");
    background-size: cover;
    color: #FEFEFE;
    width: 100%; /* Set to desired width, can be in percentage or pixels */
    margin: 0 auto; /* This centers the section on the page */
}

.popular h1 {
    margin-top: 50px;
    margin-bottom: 20px;
    display: block;
    font-size: 40px;
}

.homepage-search {
    margin-top: 20px;
    border-radius: 15px;
    border-width: 0px;
    width: 70%;
    height: 50px;
    padding: 5px 5px 5px 20px; /* Adjust left padding if needed */
    line-height: 50px; /* Same as the height for vertical centering */
    font-size: 20px;
    text-align: center; /* For horizontal centering */
}

.homepage-search input {
    box-shadow: 0 6px 6px -2px rgba(0,0,0,0.3); /* Optional: Adds subtle shadow for depth */
}


.tours-container {
    margin-top: 0px;
    margin-bottom: 50px;
    display: flex;
    align-items: flex-start; /* Align items to the start (left) */
    flex-wrap: wrap; /* Allows the cards to wrap to the next line on smaller screens */
    justify-content: flex-start; /* Align the items to the left */

}

.tour-card {
    margin: 10px; /* Adjust margin as needed */
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 10px -2px rgba(0,0,0,0.5); /* Optional: Adds subtle shadow for depth */
    /* Other styles... */
}

.tour-card:hover {
    background: #FEFEFE;
    transform: scale(1.03);
    transition: transform 0.2s ease-in-out;
}

.tour-card h2 {
    color: #666666;
    padding-left: 12px;
    font-size: 14px;
    margin: 0px;
}

.tour-card h1 {
    color: #2D033C;
    padding-left: 12px;
    font-size: 20px;
    margin: 5px 0px;
}

.tour-card-btn {
    color: #FFFFFF; /* Set text color to white */
    font-family: "Readex Pro", sans-serif;
    font-weight: 800;
    cursor: pointer;
    background-image: linear-gradient(135deg, #8050C2, #2D033C); /* Gradient at 45 degrees */
    border: none;
    padding: 12px 20px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background-color 0.3s ease;
    width: 90%;
    margin: 10px 10px;
}

.tour-card-btn i {
    margin-right: 5px;
}

.tour-card-btn:hover {
    background-image: linear-gradient(135deg, #2f105b, #030003); /* Gradient at 45 degrees */
}

.tour-card-image {
    width: 180px;
    padding: 12px 12px;
    border-radius: 8%;
}

.genres {
    display: block;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 40px;
}

.genres h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    font-size: 40px;
    color: #2D033C;
}

.dark {
    /* Your existing styles for dark class */
}

.image-row {
    display: flex;
    justify-content: center;
}

.image-container {
    position: relative;
    margin: 10px;
}

.image-container img {
    width: 100%; /* Adjust the width as needed */
    height: auto;
    border-radius: 5px; /* Optional for rounded corners */
    box-shadow: 0 5px 10px -2px rgba(0,0,0,0.5); /* Optional: Adds subtle shadow for depth */
}

.image-container:hover {
    transform: scale(1.03); /* Slightly enlarge the card on hover */
}

.overlay-text {
    position: absolute;
    font-family: "Readex Pro", sans-serif;
    font-weight: 600;
    bottom: 15px; /* Position at the bottom-left */
    left: 15px;
    color: white; /* Text color */
    padding: 5px;
    border-radius: 5px; /* Optional for rounded text background */
    font-size: 30px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 3% 12%;
    background-color: #2D033C;
    color: #FEFEFE;
    bottom: 0px;
}

footer .logo {
    width: 200px; /* Adjust the size of the logo as needed */
    height: auto;
}

footer section {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

footer section h3 {
    margin-bottom: 10px; /* Space below the heading */
}

footer section a {
    text-decoration: none;
    color: #FEFEFE; /* Link color */
    margin-bottom: 5px; /* Space between links */
}

footer .col2 {
    display: flex;
}

.footer-column {
    display: flex;
    flex-direction: row;
}

footer .col2 > section {
    display: flex;
    flex-direction: column;
    margin-right: 20px; /* Space between genre columns */
}

footer .col3 {
    display: flex;
    justify-content: space-between; /* Social links in one row */
}

.social-icons {
    font-size: 30px;
}

footer a:hover {
    color: #BBBBBB;
    text-decoration: underline;
}

.card-heading {
    margin-left: 20%;
    margin-right: 20%;
}

.card-heading h1 {
    font-size: 36px;
}

.popular-tour-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%; /* Set the width of the card */
    border-radius: 10px; /* Adjust the border radius as needed */
    background-image: url('../images/gradient_white.svg'); /* Path to your SVG file */
    /* Additional background properties if needed */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    border: 1px solid #2D033C; /* Adds a 1px black stroke */
    box-shadow: 0 5px 10px -2px rgba(0,0,0,0.5); /* Optional: Adds subtle shadow for depth */
    margin-bottom: 30px;
}

.popular-tour-left {
    display: flex;
    flex-direction: row; /* Align children in a row */
    align-items: center; /* Vertically center-align children */
    margin-left: 4%;
}

.popular-tour-left > h1,
.popular-tour-left > img,
.popular-tour-left > .popular-tour-card-description,
.popular-tour-card-buttons {
    flex: 0 0 auto; /* Don't grow, don't shrink, base width on content */
    display: flex; /* Make each child a flex container */
    flex-direction: column; /* Stack the content of each child in a column */
    justify-content: center; /* Center the content vertically */
}

.popular-tour-left > img {
    width: 180px; /* Adjust image width as needed */
    height: auto; /* Adjust image height as needed */
    padding: 10px;
    border-radius: 1vw;
    margin-left: 6%;
    margin-right: 6%;
}

.popular-tour-left h1 {
    font-size: 30px;
    color: #2D033C;
}

.popular-tour-card h2 {
    font-size: 16px;
    color: #666666;
}


.popular-tour-card-description h2,
.popular-tour-card-description h1,
.popular-tour-card-description p,
.popular-tour-card-buttons h2 {
    margin: 0;
}

.popular-tour-card-buttons {
    margin-right: 4%;
    justify-content: center;
    align-items: center;
}

.popular-tour-card-description p {
    max-width: 16%; /* Adjust this value as needed for your layout */
    text-align: justify; /* This will justify your paragraph text */
    /* Additional styling for paragraph, if needed */
    margin: 6px 0 0 0; /* Example margin, adjust as needed */
    line-height: 1.2; /* Adjusts the line height for better readability */
    font-size: 12px;
}

.dark-button {
    color: #FFFFFF; /* Set text color to white */
    font-family: "Readex Pro", sans-serif;
    font-weight: 800;
    cursor: pointer;
    background-image: linear-gradient(135deg, #8050C2, #2D033C); /* Gradient at 45 degrees */
    border: none;
    padding: 12px 20px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background-color 0.3s ease;
    width: 90%;
    margin: 4px 18px;
}

.dark-button i {
    margin-right: 5px;
}

.dark-button:hover {
    background-image: linear-gradient(135deg, #2f105b, #030003); /* Gradient at 45 degrees */
}

.light-button {
    color: #2D033C; /* Set text color to white */
    font-family: "Readex Pro", sans-serif;
    font-weight: 800;
    cursor: pointer;
    background: #FEFEFE;
    border: 1px solid #2D033C;
    padding: 12px 20px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background-color 0.3s ease;
    width: 90%;
    margin: 4px 18px;
}

.light-button i {
    margin-right: 5px;
}

.light-button:hover {
    background-image: linear-gradient(135deg, #2f105b, #030003); /* Gradient at 45 degrees */
}

.lightblue-card {
    width: 65%; /* Set the width of the card */
    border-radius: 10px; /* Adjust the border radius as needed */
    background-image: url('../images/gradient_white.svg'); /* Path to your SVG file */
    /* Additional background properties if needed */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    border: 1px solid #2D033C; /* Adds a 1px black stroke */
    box-shadow: 0 5px 10px -2px rgba(0,0,0,0.5); /* Optional: Adds subtle shadow for depth */
    margin-bottom: 30px;
    margin-top: 30px;
}

.tour-detail-header {
    display: flex;
    flex-direction: column; /* Stacks children in a column */
    align-items: center; /* Centers children horizontally */
    justify-content: center; /* Centers children vertically */
}

.tour-detail-header img {
    width: 280px; /* Ensures image does not overflow its container */
    height: auto;
    border-radius: 2vw;
}

.tour-detail-header {
    display: flex;
    flex-direction: row; /* Aligns children in a row */
    justify-content: center; /* Centers children horizontally */
    align-items: center; /* Centers children vertically */
}

.tour-detail-description {
    display: flex;
    flex-direction: column; /* Stacks description items in a column */
    align-items: start; /* Aligns description items to the start */
    margin-left: 5%;
}

.tour-detail-description h1, h2 {
    margin: 0;
}

.tour-detail-card {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.tour-detail-description h1 {
    font-size: 56px;
    color: #2D033C;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tour-detail-description h2 {
    font-size: 16px;
    color: #666666;
}

.tour-detail-description p {
    text-align: justify; /* This will justify your paragraph text */
    margin: 6px 0 0 0; /* Example margin, adjust as needed */
    line-height: 1.2; /* Adjusts the line height for better readability */
    font-size: 18px;
}

.tour-detail-event-card {
    display: flex;
    justify-content: space-between; /* Places children at opposite ends */
    align-items: center;
    background: #fefefe;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 0 5px 10px -2px rgba(0,0,0,0.5); /* Optional: Adds subtle shadow for depth */
}

.tour-detail-left {
    display: flex;
    align-items: center; /* Aligns children vertically */
}

.tour-detail-left h3, h2, h1 {
    margin: 0;
}

.tour-detail-left > section:first-child {
    display: flex;
    flex-direction: column; /* Stacks time/date in a column */
    align-items: center; /* Centers time/date */
}

/* Styling for the vertical delimiter */
.vertical-delimiter {
    border-left: 1px solid #000; /* Example: solid black line */
    height: 60px; /* Adjust as needed */
    margin: 0 20px; /* Spacing around the delimiter */
}

.tour-detail-button {
    align-items: center;
}

.tour-detail-left h3 {
    font-size: 16px;
    color: #2D033C;
}

.tour-detail-left h2 {
    font-size: 14px;
    color: #666666;
}

.tour-detail-left h1 {
    font-size: 26px;
    color: #2D033C;
}

.tour-detail-datetime {
    margin-left: 10%;
}

.terms-container {
    background-image: url("../images/TM_background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color:#fefefe;
}

.terms-text {
    width: 60%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin:20px  auto 0;
}

.terms-header {
    margin-left: 15%;
    font-size: 35px;
    color: #2D033C;
}