body {
  font-family: "Readex Pro", sans-serif;
  margin: 0;
  background-color: #fefefe;
}

.big_banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.big_banner img{
    width: 55%;
    height: 90%;
    padding: 15px 20px;
    object-fit: cover;
}

.popular {
    display: flex;
    justify-content: center; 
    align-items: start; 
    background-image: url("../images/TM background.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 1000px;
    color: #FEFEFE;
}

.popular h1{
    display: block;
    font-size: 50px;
}

.big_search {
    margin-top: 20px;
    border-radius: 15px;
    border-width: 0px;
    width: 45%;
    height: 50px;
}

.genres{
    height: 500px;
}

footer{
    background-color: #2D033C;
    padding: 70px 12%;
    color: #FEFEFE;
    display: flex;
    text-decoration: none;
}

footer section {
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
}

footer img{
    margin-top: 5px;
    width: 300px;
}

footer a {
    display: block;
    text-decoration: none;
    color: inherit;
}

